.admin-orders-container {
    margin: 1rem;
  
    .orders-table-container {
      height: 90vh;
    }
  
    .cell-action {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .view-button {
        padding: 2px 5px;
        border-radius: 5px;
        color: #a927f9;
        border: 1px dotted rgba(66, 46, 244, 0.596);
        cursor: pointer;
  
        &:hover {
          background-color: #a927f9;
          color: whitesmoke;
        }
      }
  
      .edit-button {
        padding: 2px 5px;
        border-radius: 5px;
        color: #abcada;
        border: 1px dotted rgba(125, 216, 235, 0.596);
        cursor: pointer;
  
        &:hover {
          background-color: #abcada;
          color: whitesmoke;
        }
      }
  
      .delete-button {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;
        display: flex;
        align-items: center;
  
        &:hover {
          background-color: crimson;
          color: whitesmoke;
        }
      }
    }
  }