.homepage-carousel-container {
  height: calc(100vh - 20vh);
  //   background-color: #d1411e;
  position: relative;
  overflow-x: hidden;

  .arrow-container {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    cursor: pointer;

    &:first-child {
      @include flex(center, center, row);
    }

    &:last-child {
      @include flex(center, center, row);
    }
  }

  .slider-wrapper {
    @include dimensions(300vw, 100%);
    display: flex;
    transition: all 1.5s ease-in-out;

    .slider-content-container {
      width: 100vw;

      .slider-content-wrapper {
        @extend .primary-container;
        height: 100%;

        .inner-container {
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          grid-area: main;
          grid-template-areas: "left center right";
          height: 100%;
          align-content: center;
          gap: 1rem;

          .left-container {
            grid-area: left;

            img {
              @include dimensions(15rem, 30rem);
              border-radius: 10px;
            }
          }

          .center-container {
            grid-area: center;
            @include flex(center, center, column);
            text-align: center;

            img {
              @include dimensions(4rem, 5rem);
              object-fit: contain;
            }

            h2 {
              @include font-heading(3.5, 550, white, 1);
              margin-top: 2rem;
            }

            .counter-container {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 1rem;

              div {
                margin-top: 2rem;
                p {
                  @include font-heading(1.25, 500, white, 1.5);
                }

                div {
                  margin-top: 1rem;
                  @include square(4.5rem);
                  background-color: #fff;
                  @include flex(center, center, row);
                  @include font-body(1.8, 550, black, 1);
                }
              }
            }

            button {
              margin-top: 2rem;
              @include dimensions(10rem, 2.5rem);
              border: none;
              cursor: pointer;
              border-radius: 5px;
            }
          }

          .right-container {
            grid-area: right;

            img {
              @include dimensions(15rem, 30rem);
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .img-container {
    width: 100vw;
    height: 100%;
    position: relative;
  }
}
