$heading-font-size: 2;
$body-font-size: 1.15;
$soft-grey: #D2D2CF;
$completed: #00FF00;
$success: #5cb85c;
$danger: #d9534f;
$warning : #f0ad4e;
$tertiary-color: rgba(26, 26, 26, 0.6);
$info: #a927f9;
$success: #51bb25;
$done-color: #29af61;